body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: purple; */
}
.main-home{
    position: relative;
    overflow: hidden;
}
.video-container-home {
  position: absolute;
  width: 100%;
  height: 100vh; /* Ajusta la altura como desees */
  overflow: hidden;
    z-index: -1;
}
#video-home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/fondo-malabrs.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: none; /* La imagen estará oculta por defecto */
}
/* .video-home-cel{
  display: none;
} */
.nav-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fija el elemento en la pantalla */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    /* z-index: 1000;  */
    padding: 10px 20px;
    background-color: rgba(6, 27, 121, 0.3);
    color: white;
}
.nav-redes{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}
.nav-redes img, a{
    color: aliceblue;
}
.nav-redes-comunidad img{
  width: 35x; /* Ancho fijo de 15px para todas las imágenes */
  height: 30px; /* Altura fija de 15px para todas las imágenes */
  vertical-align: middle; /* Alinea verticalmente las imágenes al centro */
  margin-right: 5px; /* Mantiene la proporción de aspecto original */
  transition: transform 0.2s;
}
.wtspp img{
  width: 42px; /* Nuevo ancho de 10px (5px menos) */
  height: 42px;
}
.mail img{
  width: 33px; /* Nuevo ancho de 10px (5px menos) */
  height: 33px;
}
.nav-redes-comunidad a:hover img {
  transform: scale(1.4); /* Aumenta el tamaño al 120% */
}
.nav-redes-comunidad a {
  text-decoration: none; /* Elimina el subrayado */
}

.nav-redes-social{
  display: flex; /* Hace que los elementos se alineen horizontalmente */
  justify-content: space-between;
}
.nav-redes-social img {
  width: 45x; /* Ancho fijo de 15px para todas las imágenes */
  height: 40px; /* Altura fija de 15px para todas las imágenes */
  vertical-align: middle; /* Alinea verticalmente las imágenes al centro */
  margin-right: 5px; /* Mantiene la proporción de aspecto original */
  transition: transform 0.2s;
}
.nav-redes-social a:hover img {
  transform: scale(1.4); /* Aumenta el tamaño al 120% */
}
.Face img{
  margin-right: 8px;
  width: 340px; /* Nuevo ancho de 10px (5px menos) */
  height: 40px; 
}
.tik img{
  width: 50px; /* Nuevo ancho de 10px (5px menos) */
  height: 29px; /* Nuevo alto de 10px (5px menos) */
  margin-top: 5px;
}
.x img{
  width: 35px; /* Nuevo ancho de 10px (5px menos) */
  height: 35px; /* Nuevo alto de 10px (5px menos) */
  margin-top: 3px;
  margin-right: 0;
}
.yout img{
  width: 40px; /* Nuevo ancho de 10px (5px menos) */
  height: 40px; /* Nuevo alto de 10px (5px menos) */
  /* margin-top: 2px; */
  margin-left: 7px;
  margin-right: 5px;
}
.inst img{
  
  margin-right: 0;
}

.nav-menu{
    display: flex;
    margin-top: 15px;
}
.nav-marca{
  display: flex;
  font-size: 40px;
  font-weight: bold;
  align-items: center;
}
.nav-menu-container{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.nav-redes-social{
    display: flex;
    /* position: fixed; Establecer la posición fija para que no se mueva con el desplazamiento de la página */
    top: 10px; /* Alinear en la parte superior de la pantalla */
    right: 40px;
}
.nav-logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin: 0 10px;
}
/* Estilos para el botón hamburguesa */
.menu-toggle {
    display: none; /* Oculta el botón por defecto */
    cursor: pointer;
}
.bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
    margin-right: 10px;
    border-radius: 2px;
}
/* Estilos para el menú hamburguesa (inicialmente oculto) */

.nav-menu-container {
  display: flex;
}  
.nav-menu-normal{
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: large;
  margin-left: 60px;
}
.nav-menu-normal li, a{
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
}
.nav-menu-li a {
  transition: color 0.1s; 
}
.nav-menu-li a:hover {
  transform: scale(1.2);
  color: purple; 
}
.home-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content-presentacion{
  display: grid;
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 300px;
  background-color: rgba(128, 0, 128, 0.3);
  margin-right: 50px;
  padding: auto;
  border-radius: 10px;
}
.home-content h1, h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 100px 0;
    margin-bottom: 10px;
}
.home-content h2{
    margin-top: 0;
    padding: 70px 0;
}
.Aquinologo{
  display: flex;
}

/* estilos perfil contenedor */
.perfil-container {
    display: grid;
    background-color: #f0f0f0; /* Ajusta el color de fondo según tu preferencia */
  }
  .soyAquino {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;    
  }
  .soyAquino h1{
    background-color: purple;
    border-radius: 5px;
    padding: 10px;
    color: #f0f0f0;
    margin-bottom: 0;
  }
  .perfil-container-all{
    display: flex;
    align-items: center;
  }
  .video-container-perfil {
    display: flex;
    overflow: hidden;
    padding: 20px; 
    box-sizing: border-box;
  }
  /* Estilo adicional para el video */
  #video-fondo {
    max-width: 100%; /* El video se ajustará al ancho del contenedor */
    max-height: 100%;
    border-radius: 40px; /* Puedes ajustar el valor según tus preferencias */
    padding: 10px;
  }
  .perfil-container-descrip{
    font-size: 41PX;
    border-radius: 40px;
    background-color: rgb(138, 192, 236);
    width: 90%;
    padding: 10px;
  }
  .parte1 {
    color: black; /* Color de la primera parte */
  }
  .parte2 {
    font-weight: bold;
    color: purple; /* Color nombre */
  }
  .parte3 {
    color: black; /* Color de la tercera parte */
  }
  .parte4 {
    color: purple; /* Color Aquino*/
    font-weight: bold;
  }
  .parte5 {
    color: black; /* Color de la quinta parte */
  }
  .parte6 {
    color: teal; /* Color 17años */
    font-weight: bold;
  }
  .parte8 {
    color: purple; /* Color Medellin*/
    font-weight: bold;
  }

.profile-content {
    display: flex;
    align-items: center;
    padding: 50px;
}

.profile-content img {
    max-width: 100%;
    border-radius: 50%;
    margin-right: 20px;
}

.video-content {
    text-align: center;
    padding: 50px 0;
}

.foot-container{
  display: grid;
}
.foot-container{
  display: flex; /* Hace que los elementos se alineen horizontalmente */
  /* justify-content: space-between; */
}
.foot-container img {
  width: 45x; /* Ancho fijo de 15px para todas las imágenes */
  height: 40px; /* Altura fija de 15px para todas las imágenes */
  vertical-align: middle; /* Alinea verticalmente las imágenes al centro */
  margin-right: 5px; /* Mantiene la proporción de aspecto original */
  transition: transform 0.2s;
}
.foot-container a:hover img {
  transform: scale(1.4); /* Aumenta el tamaño al 120% */
}
footer {
  background-color: rgba(6, 27, 121);
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
@media screen and (max-width: 1000px) {
  .perfil-container-descrip{
    margin: auto;
    font-size: xx-large;       
}
  }

@media screen and (max-width: 800px) {
  .video-home-cel{
    display: block;
    display: flex;
  }
  .video-cel{
    display: flex;
    max-width: 100% !important;
    height: auto !important;
  }
   /* quite video y funcina video e imagen */
  .video-home{
    display: none;
  }
  .background-image {
    display: block; /* Muestra la imagen en pantallas pequeñas */
  }

  .nav-redes-social{
    display: flex;
    align-items: center;
    text-align: center;
  }
  .nav-menu-container{
    display: none;
  }

  .home-content{
    display: grid;
    }
  .home-content-presentacion{
    display: grid;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;    
  }
  .nav-redes{
    display: grid;
  }
  .nav-redes-social img{
    max-width: 90%;
    max-height: 70%;
    /* margin: 0%; */
  }
  .mail{
    display: none;
  }
  .perfil-container-all{
        display: grid;
  }
  .perfil-container-descrip{
    margin: auto;
    font-size:x-large;       
  }
  .video-container-perfil{
    margin: auto;
  }
  }
  
  @media (max-width: 800px) {
    .nav-container {
      display: grid;
      flex-direction: column; /* Cambia la dirección a columna vertical */
    }
  
  }
  